{% extends "base.html" %}

{% block content %}

  <div class="container mt-4">
    <h1 class="text-center y underline">Subir Archivo Excel</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{ form.file.label_tag }}
      {{ form.file }}
      {% if form.file.errors %}
        <div class="alert alert-danger">
          {% for error in form.file.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Subir</button>
  </form>
  </div>  
{% endblock %}
